body {
  font-family: Arial, sans-serif;
  padding: 10px;
  text-align: center;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f0;
}

#icon {
  width: 3.5rem;
  height: 3.5rem;
align-self: flex-start;
}

#commands {
  text-align: right;
  margin-left: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}


#commands h4 {
  margin: 0;
}

#commands p {
  margin: 5px 0;
}